label{
	width: 150px;
	float:left;
	margin-bottom:5px;	
}

input,select {
	width:150px;
	float:left;
	margin-bottom:5px;
}

fieldset{
	background:#CCFF99;
	width:350px;
}

.error{
	border: solid 2px #FF0000;
}
